
<div class="cocktails-container">

    <h2 class="cocktails-container__header title-1">Cocktails</h2>
    <h2 class="cocktails-container__header title-2">Favorite cocktails</h2>
    <svg id="opacity" class="add-favorite__icon" width="20" height="20">
      <use href="./images/heart1.svg#icon-heart"></use>
    </svg>

    <div class="gallery"></div>
</div>

<div class="pagination-container">
  <div class="pagination-prew">
    <svg class="pagination-prew__icon" width="24" height="24">
      <use href="./images/prew.svg#prew"></use>
    </svg>
  </div>
  <div class="pagination">
    <ul class="pagination-list">
      <li class="pagination-item active">1</li>
      <li class="pagination-item">2</li>
      <li class="pagination-item">3</li>
    </ul>
    <ul class="pagination-list-dot">
      <li class="pagination-dot">.</li>
      <li class="pagination-dot">.</li>
      <li class="pagination-dot">.</li>
    </ul>
    <ul class="pagination-list">
      <li class="pagination-item">10</li>
      <li class="pagination-item">11</li>
      <li class="pagination-item">12</li>
    </ul>
  </div>
  <div class="pagination-next">
    <svg class="pagination-next__icon" width="24" height="24">
      <use href="./images/next.svg#next"></use>
    </svg>
  </div>
</div>