<div class="container hero">
    <div class="box-title-img">
        <h1 class="title">A party without cocktails is not like a party</h1>
        <div class="container-cocktails">
            <picture>
                <source srcset="images/desktop-hero/cocktails-hero@1x.png 1x, images/desktop-hero/cocktails-hero@2x.png 2x"
                    media="(min-width: 1280px)" />
        
                <source srcset="images/tablet-hero/cocktails-hero@1x.png 1x, images/tablet-hero/cocktails-hero@2x.png 2x"
                    media="(min-width: 768px)" />
        
                <source srcset="images/mobile-hero/cocktails-hero@1x.png 1x, images/mobile-hero/cocktails-hero@2x.png 2x"
                    media="(max-width: 767px)" />
        
                <img class="hero-img" src="images/desktop-hero/cocktails-hero.png" alt="cocktail">
            </picture>
        </div>
        
    </div>
    <div class="box-search-cocktails ">
        <p class="favorite-cocktail">Search your favorite cocktail by ABC</p>       
        <div class="dropdown">
            <button class="btn">A
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content js-letter-cocktail-1"></div>
        </div>
        <ul class="list-cocktail js-letter-cocktail-2"></ul>
    </div>
</div>