<div class="backdrop is-hidden">
    <div class="modal">
      <button type="button" class="modal-close-btn">
        <svg class="modal-close-btn-icon" width="32" height="32">
          <use href="./images/close.svg#close"></use>
        </svg>
      </button>

        <!-- <h3 class="modal-container__header">Negroni</h3>
        <div class="modal-container__descr">
          <h3 class="modal-container__descr-header">Liqueur</h3>
          <div class="line">

          </div>
          <p class="info-descr">
            <span>Campari</span> is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and cascarilla) in alcohol and water. It is a bitters, characterised by its dark red colour.
          </p>
        </div>

        <div class="modal-ingredients">
          <!-- <h3 class="modal-ingredients__header">INGREDIENTS</h3>
          <h4 class="modal-ingredients__subheader">Per cocktail</h4> -->
          <!-- <ul class="modal-ingredients__list">
            <li>
              <a href="">✶  Ice</a>
            </li>
            <li>
              <a href="">✶  1 ounce gin</a>
            </li>
            <li>
              <a href="">✶  1 ounce Campari</a>
            </li>
            <li>
              <a href="">✶  1 ounce sweet vermouth</a>
            </li>
            <li>
              <a href="">✶  Garnish: orange peel</a>
            </li>
          </ul>

          <button type="button" class="add-favorite modal-btn">Add To Favorite</button> -->
          <!-- <button type="button" class="add-favorite modal-btn">Remove from favorite</button> -->
        <!-- </div> -->

    </div>
  </div>