<div class="backdrop is-hidden" data-modal-ingredient data-modal-ingr-close-backdrop>
  <div class="modal modal-ingr">
    <button type="button" class="modal-close-btn" data-modal-ingredient-close>
      <svg class="modal-close-btn-icon" width="32" height="32">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <div class="modal-create-ingredient">
      <!-- ФУНЦИЯ ДОБАВЛЕНИЯ РАЗМЕТКИ ОПИСАНИЯ ИНГРЕДИЕНТА В МОДАЛЬНОМ ОКНЕ createIngredientCocktail -->
    </div>

  </div>
</div>