.header__list {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  color: #FD5103;
}

.nav-list__item {
  display: flex;
}

.mobile-menu-btn {
  border: none;
  background: none;
}

.search-header__btn {
  background: none;
}

.search-form {
  display: flex;
}

// ====================================================================
form.form-toogle {
  display: flex;
}

.lb1 {
  // margin: 2em;
  font-size: 18px;
  margin-left: 15px;
}

#highload1 {
  display: none;
}

#highload1+.lb1,
#highload1+.lb1::before,
#highload1+.lb1::after {
  transition: all .3s;
}

#highload1+.lb1 {
  border: 1px solid #FD5103;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 18px;
  border-radius: 30px;
  cursor: pointer;
}

#highload1+.lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 18px;
  right: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

#highload1+.lb1::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0.3px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #FD5103;
}

#highload1:checked+.lb1::before {
  content: attr(data-onlabel);
  left: 16px;
  right: auto;
  color: #fff;
}

#highload1:checked+.lb1::after {
  left: 20px;
  background-color: #ffffff;
}

#highload1+.lb1 {
  background-color: #ffffff;
}

#highload1:checked+.lb1 {
  background-color: #FD5103;
}

#highload1:checked+.lb1::before {
  color: #fff;
}

// ================================================================================

@media screen and (min-width:320px) {
  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-btn-img {
    fill: var(--color-btn-burger);
  }

}

@media screen and (max-width:767px) {


  .search-header__btn {
    display: none;
  }

  .search-header__input {
    display: none;
  }

}

@media screen and (min-width:768px) {
  .header__list {
    justify-content: flex-start;
  }

  .search-header__btn {
    width: 40px;
    height: 40px;
    margin-left: 190px;
    border: 1 solid #FD5103;
    border-radius: 4px 0px 0px 4px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bcg-color-btn-input);

  }

  .search-header__input {
    width: 248px;
    height: 40px;
    left: 640px;
    top: 1.5px;
    border: 1px solid #FD5103;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    margin-right: 30px;
    padding-left: 8px;
    outline: none;
    padding-left: 30px;
  }

  .search-header__input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #5F6775;
    opacity: 0.4;
  }

  .input-icon img {
    display: block;
    margin-left: 4px;
  }


}

@media screen and (max-width:1279px) {
  .nav-list {
    display: none;
  }

  .theme {
    display: none;
  }
}

@media screen and (min-width:1280px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu-btn-img {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    align-items: flex-end;
    column-gap: 60px;
    margin-left: 43px;
    margin-top: 22px;
  }
    .nav-list li>a, .nav-list li>span {
      font-size: 20px;
    }

  .nav-list__link {
    position: relative;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 0.75;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .favorite-list {
    position: absolute;
    width: 210px;
    height: 96px;
    top: 71px;
    border: 1px solid #FD5103;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    pointer-events: none;
  }

  

  .favorite-list.is-open {
    opacity: 1;
    visibility: hidden;
    pointer-events: auto;
  }

  .favorite-list__item-cocktails {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 12px;
  }

  .favorite-list__item-cocktails:hover {
    background-color: #FD5103;
  }

  .favorite-list__item-ingredients {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 11px;
    border-top: 1px solid #FD5103;
    color: #FFF;
  }

    .favorite-list__item-ingredients:hover {
      background-color: #FD5103;
    }

  .favorite-list__link {
    text-decoration: none;
    color: #000000;
  }

  .search-header__input {
    margin-right: 0;
  }

  .theme {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: 172px;

    &__item {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #FD5103;
    }

    &__btn {
      border: none;
      background: none;
    }
  }

  .dark {
    color: #5F6775;
  }

  .search-header__input {
    padding-left: 15px;
  }

  .site-nav-favorite-wrapper {
    position: relative;
  }

  .favorite-wrapper {
  opacity: 0;
  width: 210px;
  height: 140px;
  border: 1px solid orange;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: -20px;
  padding-top: 40px;
  }

  .favorite-wrapper:hover {
      opacity: 1;
    }

  .site-nav-favorite-cocktails,
  .site-nav-favorite-ingridients {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-nav-favorite-cocktails:hover,
  .site-nav-favorite-ingridients:hover {
    color: white;
    background-color: orange;
  }

}