.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 10;
  background-color: var(--bcg-color-container-mobile);
  width: 100%;
}

body._lock {
  overflow: hidden;
}

.header__list {
  padding-top: 20px;
  display: flex;
  align-items: center;
  background-color: var(--bcg-color-container-mobile); 
}

.nav-logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  color: #FD5103;
}

.nav-list__item {
  display: flex;
}

.mobile-menu-btn {
  border: none;
  background: none;
}

.search-header__btn {
  background: none;
}

.search-form {
  display: flex;
}

li.favorite-wrapper-item {
  background-color: var(--bcg-color-container-mobile);
}

// ====================================================================
form.form-toogle {
  display: flex;
}

#highload1 {
  display: none;
}

#highload1+.lb1,
#highload1+.lb1::before,
#highload1+.lb1::after {
  transition: all .3s;
}

#highload1+.lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 18px;
  right: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}


#highload1:checked+.lb1::before {
  content: attr(data-onlabel);
  left: 20px;
  right: auto;
  color: #fff;
}

#highload1:checked+.lb1::after {
  left: 20px;
  background-color: #ffffff;
}

#highload1+.lb1 {
  background-color: #ffffff;
}

#highload1:checked+.lb1 {
  background-color: #FD5103;
}

#highload1:checked+.lb1::before {
  color: #fff;
}

  #highload1+.lb1 {
    border: 1px solid #FD5103;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 15px;
    border-radius: 30px;
    cursor: pointer;
  }

  #highload1+.lb1::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    background-color: #FD5103;
  }

  .lb1 {
    color: var(--text-color);
    margin-left: 8px;
    font-size: 14px;
  }


body.mouse .site-nav-favorite-wrapper:hover .favorite-wrapper {
  opacity: 1;
  background-color: #fff;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

body.mouse .site-nav-favorite-wrapper:hover .arrow {
  // background-color: #fff;
  border-top: 10px solid #fd5103;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: border-top .25s cubic-bezier(.4, 0, .2, 1);
}

.site-nav-favorite-wrapper .open {
  opacity: 1;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
}


//======== SVG ================//
div.icons-all {
  display: none;
}

.icons-all svg {
  width: 17px;
  height: 15px;
}

//===================================//



// ================================================================================

@media screen and (min-width:320px) {
  .nav-list {
      display: none;
    }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-btn-img {
    fill: var(--color-btn-burger);
  }

  .header__list img {
    width: 120px;
  }
  
  .header {
    height: 65px;
  }

}

@media screen and (max-width:767px) {


  // .search-header__btn {
  //   display: none;
  // }

  // .search-header__input {
  //   display: none;
  // }

}

@media screen and (min-width:768px) {

  .header {
      height: 90px;
    }

  .mobile-menu {
      display: none;
    }

  .nav-list {
      display: block;
    }

  .header__list {
    justify-content: flex-start;
  }

  .search-header__btn {
    width: 40px;
    height: 35px;
    margin-top: 8px;
    margin-left: 40px;
    border: 1 solid #FD5103;
    border-radius: 4px 0px 0px 4px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bcg-color-btn-input);
  }

  .search-header__input {
    width: 218px;
    height: 35px;
    margin-top: 8px;
    left: 640px;
    top: 1.5px;
    border: 1px solid #FD5103;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    padding-left: 8px;
    outline: none;
    padding-left: 30px;
  }

  .search-header__input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #5F6775;
    opacity: 0.4;
  }

  .input-icon img {
    display: block;
    margin-left: 4px;
  }

  .site-nav-favorite-wrapper {
    position: relative;
    display: flex;
  }

  .favorite-wrapper {
    opacity: 0;
    width: 210px;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 40px;
    cursor: pointer;
  }

  .site-nav-favorite-wrapper {
    position: relative;
  }

  .site-nav-favorite-cocktails {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid #FD5103;
    border-right: 1px solid #FD5103;
    border-left: 1px solid #FD5103;
    border-bottom: 1px solid #FD5103;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav-favorite-ingridients {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #FD5103;
    border-left: 1px solid #FD5103;
    border-bottom: 1px solid #FD5103;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav-favorite-cocktails:hover {
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #FD5103;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav-favorite-ingridients:hover {
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FD5103;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .favorite-list__item-cocktails {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 12px;
  }

  .favorite-list__item-cocktails:hover {
    background-color: #FD5103;
  }

  .favorite-list__item-ingredients {
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 11px;
    border-top: 1px solid #FD5103;
    color: #FFF;
  }

  .favorite-list__item-ingredients:hover {
    background-color: #FD5103;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    margin-left: 15px;
    margin-top: 22px;
  }

  .nav-list li>a,
  .nav-list li>span {
    font-size: 16px;
    line-height: normal;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list li:hover .nav-list__link,
  .nav-list li:focus .nav-list__link {
    color: #FD5103;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link {
    position: relative;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 0.75;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .mobile-menu-btn {
    display: none;
  }
  .header__list img {
    width: 120px;
    margin-top: 8px;
  }

  .theme.js-theme-box {
    margin-top: 10px;
  }

  .arrow {
    position: absolute;
    right: -20px;
    top: 12px;
    height: 0;
    width: 0;
    border-top: 8px solid var(--text-color);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transition: border-top .25s cubic-bezier(.4, 0, .2, 1);
  }

  .menu-arrow.active {
    border-top: 8px solid #FD5103;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    background-color: var(----text-color);
  }
}

@media screen and (max-width:1279px) {
  // .nav-list {
  //   display: none;
  // }

  // .theme {
  //   display: none;
  // }
}

@media screen and (min-width:1280px) {
  .lb1 {
    font-size: 18px;
    margin-left: 15px;
  }

 .mobile-menu-btn-img {
    display: none;
  }

  .nav-list li>a,
  .nav-list li>span {
    font-size: 20px;
  }

  .header__list img {
    width: 156px;
  }

  .search-header__btn {
    margin-left: 168px;
  }

  .search-header__input {
    width: 248px;
  }

  .nav-list {
    column-gap: 40px;
    margin-left: 43px
  }

  .search-header__input {
    margin-right: 30px;
  }
  // .favorite-list {
  //   position: absolute;
  //   width: 210px;
  //   height: 96px;
  //   top: 71px;
  //   border: 1px solid #FD5103;
  //   font-family: 'Poppins';
  //   font-size: 18px;
  //   line-height: 24px;
  //   letter-spacing: 0.02em;
  //   pointer-events: none;
  // }


  // .favorite-list.is-open {
  //   opacity: 1;
  //   visibility: hidden;
  //   pointer-events: auto;
  // }



  // .favorite-list__link {
  //   text-decoration: none;
  //   color: #000000;
  // }

  .search-header__input {
    margin-right: 0;
  }

  .theme {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: 172px;

    &__item {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #FD5103;
    }

    &__btn {
      border: none;
      background: none;
    }
  }

  .dark {
    color: #5F6775;
  }

  .search-header__input {
    padding-left: 15px;
  }

  #highload1+.lb1 {
    width: 40px;
    height: 18px;
  }

  #highload1+.lb1::after {
    width: 14px;
    height: 14px;
  }

  .search-header__input {
    width: 230px;
    height: 40px;
    margin-top: 0px;
  }

  .search-header__btn {
    height: 40px;
    margin-top: 0px;
  }

  .theme.js-theme-box {
    margin-top: 0px;
  }

  .arrow {
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  .menu-arrow.active {
    border-top: 10px solid #FD5103;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

}


